@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
*{
    font-family: 'Balsamiq Sans', cursive;
}
.container{
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maincontainer{
    background-image:url("./nbg1.jpeg");
    z-index: -1;
    background-size: cover;
    scroll-behavior: smooth;
    scroll-margin: 10px;
}

.todo{
    border: 2px solid rgb(54, 113, 54);
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 9px;
    text-align: left;
    padding-left: 20px;
    display: inline-block;
    margin-right: 20px;
    width: 258px;
    max-height: 138px;
    box-shadow: 4px 4px 5px #aaa;
    overflow: auto;

}
.todo p{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(95, 124, 241);
}

.todocontainer{
    width: 700px;
    height: auto;
    margin: auto;
    padding-left: 25px;
}
.delbutton{
    margin: auto;
    margin-top: 10px;
    background-color: #d22b2b;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px #aaa;
    border: 0;
    backface-visibility: hidden;
    width: 60px;
    height: 25px;
}

.del{
    text-align: center;
}

.container {
    text-align: center;
}

.c1 {
    text-align: center;
    margin-top: 55px;
}

.c2 {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
}

.phone, .pass, .roll, .name , .Title, .Description{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 19px;
    font-weight:normal;
    background-color: #dddff0;
}

.phone:hover, .pass:hover, .roll:hover, .name:hover , .Title:hover, .Description:hover{
    border: 2px solid #b3b9ec;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.submit ,.addbutton{
    width: 50%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color:#388bf6;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

.submit:hover,.but:hover ,.addbutton:hover{
    background-color: rgb(35, 6, 123);
    color: white;
    box-shadow:0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
   
}

.forgot {
    margin-top: 17px;
}

.c2 hr {
    margin-top: 28px;
    width: 346px;
}

.but {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    color: #4CAF50;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.but:hover {
    background-color: #4CAF50;
    color: white;
}

.errorf ,.invalid{
    margin-top: 10px;
    font-weight: bold;
    width: 340px;
    padding-left: 10px;
    height: 40px;
}

.invalid{
    color: red;
}

a:link{
    text-decoration: none;
    color: brown;
    font-family: 'Balsamiq Sans', cursive;
    font-size: x-large;
}
